In [1]:
import warnings
warnings.filterwarnings('ignore')

In [84]:
import pandas as pd

station = pd.read_csv("서울시 지하철 호선별 역별 시간대별 승하차 인원 정보.csv",encoding='cp949')
display(station)

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
0,202302,1호선,동대문,741,5,10093,1940,8192,5672,11705,...,7802,462,2278,1,197,0,0,0,0,20230303
1,202302,1호선,동묘앞,191,6,2555,823,3137,4382,6186,...,3477,82,1372,0,303,0,0,0,0,20230303
2,202302,1호선,서울역,543,26,7202,7719,11072,45251,35896,...,12995,2267,2824,1,170,0,0,0,0,20230303
3,202302,1호선,시청,112,2,2179,3867,3307,20185,6670,...,3361,296,872,1,6,0,0,0,0,20230303
4,202302,1호선,신설동,341,14,7756,2156,8344,7298,18320,...,7842,345,1824,1,2,0,0,0,0,20230303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57559,201501,중앙선,운길산,0,0,177,56,642,403,1292,...,633,3,222,0,0,0,0,0,0,20151223
57560,201501,중앙선,원덕,1,0,292,4,415,46,537,...,383,3,157,0,0,0,0,0,0,20151223
57561,201501,중앙선,중랑,14,1,4929,424,8539,2084,22160,...,6501,86,1617,0,0,0,0,0,0,20151223
57562,201501,중앙선,팔당,0,0,161,50,368,149,1227,...,336,8,85,0,0,0,0,0,0,20151223
57563,201501,중앙선,회기,436,3,10929,3067,23317,10430,65043,...,35702,767,9314,0,0,0,0,0,0,20151223

## 데이터 전처리

In [85]:
station.isnull().sum()

사용월             0
호선명             0
지하철역            0
04시-05시 승차인원    0
04시-05시 하차인원    0
05시-06시 승차인원    0
05시-06시 하차인원    0
06시-07시 승차인원    0
06시-07시 하차인원    0
07시-08시 승차인원    0
07시-08시 하차인원    0
08시-09시 승차인원    0
08시-09시 하차인원    0
09시-10시 승차인원    0
09시-10시 하차인원    0
10시-11시 승차인원    0
10시-11시 하차인원    0
11시-12시 승차인원    0
11시-12시 하차인원    0
12시-13시 승차인원    0
12시-13시 하차인원    0
13시-14시 승차인원    0
13시-14시 하차인원    0
14시-15시 승차인원    0
14시-15시 하차인원    0
15시-16시 승차인원    0
15시-16시 하차인원    0
16시-17시 승차인원    0
16시-17시 하차인원    0
17시-18시 승차인원    0
17시-18시 하차인원    0
18시-19시 승차인원    0
18시-19시 하차인원    0
19시-20시 승차인원    0
19시-20시 하차인원    0
20시-21시 승차인원    0
20시-21시 하차인원    0
21시-22시 승차인원    0
21시-22시 하차인원    0
22시-23시 승차인원    0
22시-23시 하차인원    0
23시-24시 승차인원    0
23시-24시 하차인원    0
00시-01시 승차인원    0
00시-01시 하차인원    0
01시-02시 승차인원    0
01시-02시 하차인원    0
02시-03시 승차인원    0
02시-03시 하차인원    0
03시-04시 승차인원    0
03시-04시 하차인원    0
작업일자            0
dtype: int64

In [86]:
display(station.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57564 entries, 0 to 57563
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   사용월           57564 non-null  int64
 1   호선명           57564 non-null  object
 2   지하철역          57564 non-null  object
 3   04시-05시 승차인원  57564 non-null  int64
 4   04시-05시 하차인원  57564 non-null  int64
 5   05시-06시 승차인원  57564 non-null  int64
 6   05시-06시 하차인원  57564 non-null  int64
 7   06시-07시 승차인원  57564 non-null  int64
 8   06시-07시 하차인원  57564 non-null  int64
 9   07시-08시 승차인원  57564 non-null  int64
 10  07시-08시 하차인원  57564 non-null  int64
 11  08시-09시 승차인원  57564 non-null  int64
 12  08시-09시 하차인원  57564 non-null  int64
 13  09시-10시 승차인원  57564 non-null  int64
 14  09시-10시 하차인원  57564 non-null  int64
 15  10시-11시 승차인원  57564 non-null  int64
 16  10시-11시 하차인원  57564 non-null  int64
 17  11시-12시 승차인원  57564 non-null  int64
 18  11시-12시 하차인원  57564 non-null  int64
 19  12시-13시 승차인원  57564 non-null  int64
 20  12시-13시 하차인원  57564 non-null  int64
 21  13시-14시 승차인원  57564 non-null  int64
 22  13시-14시 하차인원  57564 non-null  int64
 23  14시-15시 승차인원  57564 non-null  int64
 24  14시-15시 하차인원  57564 non-null  int64
 25  15시-16시 승차인원  57564 non-null  int64
 26  15시-16시 하차인원  57564 non-null  int64
 27  16시-17시 승차인원  57564 non-null  int64
 28  16시-17시 하차인원  57564 non-null  int64
 29  17시-18시 승차인원  57564 non-null  int64
 30  17시-18시 하차인원  57564 non-null  int64
 31  18시-19시 승차인원  57564 non-null  int64
 32  18시-19시 하차인원  57564 non-null  int64
 33  19시-20시 승차인원  57564 non-null  int64
 34  19시-20시 하차인원  57564 non-null  int64
 35  20시-21시 승차인원  57564 non-null  int64
 36  20시-21시 하차인원  57564 non-null  int64
 37  21시-22시 승차인원  57564 non-null  int64
 38  21시-22시 하차인원  57564 non-null  int64
 39  22시-23시 승차인원  57564 non-null  int64
 40  22시-23시 하차인원  57564 non-null  int64
 41  23시-24시 승차인원  57564 non-null  int64
 42  23시-24시 하차인원  57564 non-null  int64
 43  00시-01시 승차인원  57564 non-null  int64
 44  00시-01시 하차인원  57564 non-null  int64
 45  01시-02시 승차인원  57564 non-null  int64
 46  01시-02시 하차인원  57564 non-null  int64
 47  02시-03시 승차인원  57564 non-null  int64
 48  02시-03시 하차인원  57564 non-null  int64
 49  03시-04시 승차인원  57564 non-null  int64
 50  03시-04시 하차인원  57564 non-null  int64
 51  작업일자          57564 non-null  int64
dtypes: int64(50), object(2)
memory usage: 22.8+ MB

None

In [87]:
display(station.describe())

,사용월,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
count,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,...,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,57564.000000,5.756400e+04
mean,201873.653829,197.619710,2.826871,5132.672417,1294.990324,10548.879421,6972.871065,27375.459020,15975.734122,31172.884129,...,9324.703895,618.316656,2687.151240,3.681641,86.316326,0.295254,1.167170,0.016972,0.090855,2.018825e+07
std,234.607156,652.379787,7.412988,5962.205215,1450.702381,10459.445621,7511.436534,28404.034054,20777.236754,33379.739596,...,10782.537821,1525.529992,3615.833536,34.612542,330.509487,17.435459,12.035655,0.694876,3.442209,2.348778e+04
min,201501.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.015121e+07
25%,201702.000000,4.000000,0.000000,1415.000000,382.000000,3315.000000,2283.000000,7737.750000,4476.000000,9444.000000,...,2702.000000,11.000000,455.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.017031e+07
50%,201903.000000,20.000000,0.000000,3338.500000,887.000000,7508.000000,4773.000000,19063.000000,9218.000000,21617.000000,...,6172.000000,142.000000,1530.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.019040e+07
75%,202103.000000,108.000000,2.000000,6601.250000,1635.000000,14259.500000,8920.250000,36982.250000,18786.000000,41468.250000,...,12154.000000,583.000000,3586.250000,1.000000,17.000000,0.000000,0.000000,0.000000,0.000000,2.021040e+07
max,202302.000000,13585.000000,218.000000,59655.000000,15843.000000,99232.000000,87300.000000,294593.000000,238513.000000,386398.000000,...,134948.000000,33676.000000,46252.000000,2805.000000,6651.000000,3082.000000,863.000000,94.000000,312.000000,2.023030e+07

In [88]:
station.columns

Index(['사용월', '호선명', '지하철역', '04시-05시 승차인원', '04시-05시 하차인원', '05시-06시 승차인원',
       '05시-06시 하차인원', '06시-07시 승차인원', '06시-07시 하차인원', '07시-08시 승차인원',
       '07시-08시 하차인원', '08시-09시 승차인원', '08시-09시 하차인원', '09시-10시 승차인원',
       '09시-10시 하차인원', '10시-11시 승차인원', '10시-11시 하차인원', '11시-12시 승차인원',
       '11시-12시 하차인원', '12시-13시 승차인원', '12시-13시 하차인원', '13시-14시 승차인원',
       '13시-14시 하차인원', '14시-15시 승차인원', '14시-15시 하차인원', '15시-16시 승차인원',
       '15시-16시 하차인원', '16시-17시 승차인원', '16시-17시 하차인원', '17시-18시 승차인원',
       '17시-18시 하차인원', '18시-19시 승차인원', '18시-19시 하차인원', '19시-20시 승차인원',
       '19시-20시 하차인원', '20시-21시 승차인원', '20시-21시 하차인원', '21시-22시 승차인원',
       '21시-22시 하차인원', '22시-23시 승차인원', '22시-23시 하차인원', '23시-24시 승차인원',
       '23시-24시 하차인원', '00시-01시 승차인원', '00시-01시 하차인원', '01시-02시 승차인원',
       '01시-02시 하차인원', '02시-03시 승차인원', '02시-03시 하차인원', '03시-04시 승차인원',
       '03시-04시 하차인원', '작업일자'],
      dtype='object')

In [89]:
place_station = ['가양','개화','개화산','공항시장','김포공항','까치산','마곡','마곡나루','발산','방화','송정','신방화','양천향교',
                '염창','우장산','증미','화곡','등촌','신정','목동']

print(len(place_station))

20

In [90]:
station[station['지하철역']=='신정']

,사용월,호선명,지하철역,04시-05시 승차인원,04시-05시 하차인원,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,...,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,01시-02시 승차인원,01시-02시 하차인원,02시-03시 승차인원,02시-03시 하차인원,03시-04시 승차인원,03시-04시 하차인원,작업일자
46059,201609,5호선,신정,34,1,11845,858,23992,4700,75139,...,18751,306,5049,6,68,0,0,0,0,20161008
46628,201608,5호선,신정,41,0,12534,965,25642,4834,76796,...,18729,317,4924,0,0,0,0,0,0,20160908
47186,201607,5호선,신정,53,2,12727,1061,26522,5393,79666,...,19179,324,5316,0,1,0,0,0,0,20160808
47743,201606,5호선,신정,48,1,13246,1169,27877,5205,84447,...,20998,356,6034,0,0,0,0,0,0,20160708
48300,201605,5호선,신정,44,2,13032,1297,27076,5067,84382,...,22340,348,6639,1,0,0,0,0,0,20160608
48857,201604,5호선,신정,32,2,11885,1196,27004,5131,82873,...,21102,405,6132,0,0,0,0,0,0,20160508
49415,201603,5호선,신정,30,2,11917,1307,26385,5508,90038,...,21148,304,6211,0,0,0,0,0,0,20160408
49971,201602,5호선,신정,25,1,9466,1217,19875,4326,63958,...,17534,292,4999,1,43,0,0,0,0,20160308
50526,201601,5호선,신정,29,2,10295,1070,21485,4645,69311,...,18773,264,5086,0,2,0,0,0,0,20160208
51077,201512,5호선,신정,29,0,11448,1181,23641,5215,79700,...,21589,398,6914,21,205,0,0,0,0,20160108
51629,201511,5호선,신정,28,1,11801,1144,24257,5074,81335,...,19889,325,5767,0,0,0,0,0,0,20151208
52181,201510,5호선,신정,39,3,12740,1093,26305,5239,84808,...,20306,286,5900,0,0,0,0,0,0,20151223
52732,201509,5호선,신정,30,2,11268,900,24744,4826,80780,...,18993,364,5837,5,48,0,0,0,0,20151223
53283,201508,5호선,신정,36,4,11504,956,24397,5081,73344,...,19381,295,5652,0,0,0,0,0,0,20151223
53837,201507,5호선,신정,22,0,12260,906,26578,5216,84766,...,20464,349,6203,0,0,0,0,0,0,20151223
54393,201506,5호선,신정,40,2,11699,1115,26284,5240,84868,...,19181,327,6029,0,0,0,0,0,0,20151223
54949,201505,5호선,신정,26,3,11412,1128,25613,5451,78066,...,22134,300,6209,0,0,0,0,0,0,20151223
55505,201504,5호선,신정,24,2,10958,1005,26895,5312,90166,...,22804,381,6621,0,0,0,0,0,0,20151223
56059,201503,5호선,신정,34,7,10297,1000,26029,5172,89254,...,22173,327,6425,0,0,0,0,0,0,20151223
56613,201502,5호선,신정,18,0,7843,771,18505,3711,60682,...,17431,307,5010,0,38,0,0,0,0,20151223
57163,201501,5호선,신정,29,1,9497,948,21757,4473,71222,...,19724,361,5653,0,0,0,0,0,0,20151223

## 강서구 지하철역만 뽑아내기

In [91]:
gangsu = station[(station['지하철역'] == place_station[0]) |(station['지하철역'] == place_station[1])|(station['지하철역'] == place_station[2])|
                        (station['지하철역'] == place_station[3])|(station['지하철역'] == place_station[4])|(station['지하철역'] == place_station[5])|
                        (station['지하철역'] == place_station[6])|(station['지하철역'] == place_station[7])|(station['지하철역'] == place_station[8])|
                        (station['지하철역'] == place_station[9])|(station['지하철역'] == place_station[10])|(station['지하철역'] == place_station[11])|
                        (station['지하철역'] == place_station[12])|(station['지하철역'] == place_station[13])|(station['지하철역'] == place_station[14])|
                        (station['지하철역'] == place_station[15])|(station['지하철역'] == place_station[16])|(station['지하철역'] == place_station[17])
                |(station['지하철역'] == place_station[18])|(station['지하철역'] == place_station[19])]

## 승하차 구별

In [92]:
gangsu_ride_on = gangsu.iloc[:, [0,1,2] + list(range(3,53,2))]

In [93]:
gangsu_ride_down = gangsu.iloc[:, [0,1,2] + list(range(4,52,2))]

## 승하차 시간대별 구별

In [94]:
gangsu_ride_on = gangsu_ride_on[(gangsu_ride_on['사용월'] == 202302)|(gangsu_ride_on['사용월'] == 202301)|(gangsu_ride_on['사용월'] == 202212)|
                               (gangsu_ride_on['사용월'] == 202211)|(gangsu_ride_on['사용월'] == 202210)|(gangsu_ride_on['사용월'] == 202209)|
                               (gangsu_ride_on['사용월'] == 202208)|(gangsu_ride_on['사용월'] == 202207)|(gangsu_ride_on['사용월'] == 202206)|
                               (gangsu_ride_on['사용월'] == 202207)|(gangsu_ride_on['사용월'] == 202206)|(gangsu_ride_on['사용월'] == 202205)|
                               (gangsu_ride_on['사용월'] == 202204)|(gangsu_ride_on['사용월'] == 202203)|(gangsu_ride_on['사용월'] == 202202)|
                               (gangsu_ride_on['사용월'] == 202201)|(gangsu_ride_on['사용월'] == 202112)|(gangsu_ride_on['사용월'] == 202111)|
                               (gangsu_ride_on['사용월'] == 202110)|(gangsu_ride_on['사용월'] == 202109)|(gangsu_ride_on['사용월'] == 202108)|
                               (gangsu_ride_on['사용월'] == 202107)|(gangsu_ride_on['사용월'] == 202106)|(gangsu_ride_on['사용월'] == 202105)|
                               (gangsu_ride_on['사용월'] == 202104)|(gangsu_ride_on['사용월'] == 202103)|(gangsu_ride_on['사용월'] == 202102)|
                               (gangsu_ride_on['사용월'] == 202101)|(gangsu_ride_on['사용월'] == 202012)|(gangsu_ride_on['사용월'] == 202011)|
                               (gangsu_ride_on['사용월'] == 202010)|(gangsu_ride_on['사용월'] == 202009)|(gangsu_ride_on['사용월'] == 202008)|
                               (gangsu_ride_on['사용월'] == 202007)|(gangsu_ride_on['사용월'] == 202006)|(gangsu_ride_on['사용월'] == 202005)|
                               (gangsu_ride_on['사용월'] == 202004)|(gangsu_ride_on['사용월'] == 202003)|(gangsu_ride_on['사용월'] == 202002)|
                               (gangsu_ride_on['사용월'] == 202001)]

gangsu_ride_down=gangsu_ride_down[(gangsu_ride_down['사용월'] == 202302)|(gangsu_ride_down['사용월'] == 202301)|(gangsu_ride_down['사용월'] == 202212)|
                               (gangsu_ride_down['사용월'] == 202211)|(gangsu_ride_down['사용월'] == 202210)|(gangsu_ride_down['사용월'] == 202209)|
                               (gangsu_ride_down['사용월'] == 202208)|(gangsu_ride_down['사용월'] == 202207)|(gangsu_ride_down['사용월'] == 202206)|
                               (gangsu_ride_down['사용월'] == 202207)|(gangsu_ride_down['사용월'] == 202206)|(gangsu_ride_down['사용월'] == 202205)|
                               (gangsu_ride_down['사용월'] == 202204)|(gangsu_ride_down['사용월'] == 202203)|(gangsu_ride_down['사용월'] == 202202)|
                               (gangsu_ride_down['사용월'] == 202201)|(gangsu_ride_down['사용월'] == 202112)|(gangsu_ride_down['사용월'] == 202111)|
                               (gangsu_ride_down['사용월'] == 202110)|(gangsu_ride_down['사용월'] == 202109)|(gangsu_ride_down['사용월'] == 202108)|
                               (gangsu_ride_down['사용월'] == 202107)|(gangsu_ride_down['사용월'] == 202106)|(gangsu_ride_down['사용월'] == 202105)|
                               (gangsu_ride_down['사용월'] == 202104)|(gangsu_ride_down['사용월'] == 202103)|(gangsu_ride_down['사용월'] == 202102)|
                               (gangsu_ride_down['사용월'] == 202101)|(gangsu_ride_down['사용월'] == 202012)|(gangsu_ride_down['사용월'] == 202011)|
                               (gangsu_ride_down['사용월'] == 202010)|(gangsu_ride_down['사용월'] == 202009)|(gangsu_ride_down['사용월'] == 202008)|
                               (gangsu_ride_down['사용월'] == 202007)|(gangsu_ride_down['사용월'] == 202006)|(gangsu_ride_down['사용월'] == 202005)|
                               (gangsu_ride_down['사용월'] == 202004)|(gangsu_ride_down['사용월'] == 202003)|(gangsu_ride_down['사용월'] == 202002)|
                               (gangsu_ride_down['사용월'] == 202001)]

In [95]:
gangsu_ride_on['o0~6']=gangsu_ride_on[['00시-01시 승차인원','01시-02시 승차인원','02시-03시 승차인원',
                '03시-04시 승차인원','04시-05시 승차인원', '05시-06시 승차인원']].sum(axis=1)
gangsu_ride_on['o6~12']=gangsu_ride_on[['06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원',
                               '09시-10시 승차인원', '10시-11시 승차인원', '11시-12시 승차인원']].sum(axis=1)
gangsu_ride_on['o12~18']=gangsu_ride_on[['12시-13시 승차인원', '13시-14시 승차인원', '14시-15시 승차인원',
                                '15시-16시 승차인원', '16시-17시 승차인원', '17시-18시 승차인원']].sum(axis=1)
gangsu_ride_on['o18~24']=gangsu_ride_on[['18시-19시 승차인원', '19시-20시 승차인원', '20시-21시 승차인원', 
                                '21시-22시 승차인원', '22시-23시 승차인원', '23시-24시 승차인원']].sum(axis=1)

In [96]:
gangsu_ride_down['d0~6']=gangsu_ride_down[['00시-01시 하차인원','01시-02시 하차인원','02시-03시 하차인원',
                '03시-04시 하차인원','04시-05시 하차인원', '05시-06시 하차인원']].sum(axis=1)
gangsu_ride_down['d6~12']=gangsu_ride_down[['06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원',
                               '09시-10시 하차인원', '10시-11시 하차인원', '11시-12시 하차인원']].sum(axis=1)
gangsu_ride_down['d12~18']=gangsu_ride_down[['12시-13시 하차인원', '13시-14시 하차인원', '14시-15시 하차인원',
                                '15시-16시 하차인원', '16시-17시 하차인원', '17시-18시 하차인원']].sum(axis=1)
gangsu_ride_down['d18~24']=gangsu_ride_down[['18시-19시 하차인원', '19시-20시 하차인원', '20시-21시 하차인원', 
                                '21시-22시 하차인원', '22시-23시 하차인원', '23시-24시 하차인원']].sum(axis=1)

In [97]:
gangsu_ride_on.drop(['00시-01시 승차인원','01시-02시 승차인원','02시-03시 승차인원','03시-04시 승차인원','04시-05시 승차인원',
                     '05시-06시 승차인원','06시-07시 승차인원', '07시-08시 승차인원', '08시-09시 승차인원','09시-10시 승차인원', 
                     '10시-11시 승차인원', '11시-12시 승차인원','12시-13시 승차인원', '13시-14시 승차인원', '14시-15시 승차인원',
                     '15시-16시 승차인원', '16시-17시 승차인원', '17시-18시 승차인원','18시-19시 승차인원', '19시-20시 승차인원', 
                     '20시-21시 승차인원', '21시-22시 승차인원', '22시-23시 승차인원', '23시-24시 승차인원'],axis=1,inplace=True)
gangsu_ride_down.drop(['00시-01시 하차인원','01시-02시 하차인원','02시-03시 하차인원','03시-04시 하차인원','04시-05시 하차인원',
                     '05시-06시 하차인원','06시-07시 하차인원', '07시-08시 하차인원', '08시-09시 하차인원','09시-10시 하차인원', 
                     '10시-11시 하차인원', '11시-12시 하차인원','12시-13시 하차인원', '13시-14시 하차인원', '14시-15시 하차인원',
                     '15시-16시 하차인원', '16시-17시 하차인원', '17시-18시 하차인원','18시-19시 하차인원', '19시-20시 하차인원', 
                     '20시-21시 하차인원', '21시-22시 하차인원', '22시-23시 하차인원', '23시-24시 하차인원'],axis=1,inplace=True)

In [98]:
gangsu_ride_down['dAll']= gangsu_ride_down[['d0~6','d6~12','d12~18','d18~24']].sum(axis=1)

In [99]:
gangsu_ride_on['oAll']=gangsu_ride_on[['o0~6','o6~12','o12~18','o18~24']].sum(axis=1)

In [100]:
gangsu_ride_on

          사용월       호선명  지하철역      작업일자   o0~6   o6~12  o12~18  o18~24    oAll
123    202302       5호선   개화산  20230303   4049   73256   48362   28162  153829
132    202302       5호선  김포공항  20230303    786   39571   94183   80805  215345
133    202302       5호선   까치산  20230303  23396  460592  201642   90745  776375
137    202302       5호선    마곡  20230303   2680   85430  104574   93104  285788
142    202302       5호선    목동  20230303   8356  219365  130138   84056  441915
...       ...       ...   ...       ...    ...     ...     ...     ...     ...
22762  202001       9호선  양천향교  20200203   4745  102037   82546   60429  249757
22764  202001       9호선    염창  20200203  10960  273631  133993   74725  493309
22765  202001       9호선    증미  20200203   2298   74366   64631   57122  198417
22932  202001  공항철도 1호선  김포공항  20200203   2206   77237  133304  125542  338289
22934  202001  공항철도 1호선  마곡나루  20200203   1573   35823   72015   73249  182660

[782 rows x 9 columns]

In [101]:
gangsu_ride_down=gangsu_ride_down.drop(['사용월','호선명','지하철역'],axis=1)

In [102]:
gangsu_ride1= pd.concat([gangsu_ride_on,gangsu_ride_down],axis=1)

In [103]:
gangsu_ride1

,사용월,호선명,지하철역,작업일자,o0~6,o6~12,o12~18,o18~24,oAll,d0~6,d6~12,d12~18,d18~24,dAll
123,202302,5호선,개화산,20230303,4049,73256,48362,28162,153829,2181,41494,44074,59487,147236
132,202302,5호선,김포공항,20230303,786,39571,94183,80805,215345,3025,79547,94992,33742,211306
133,202302,5호선,까치산,20230303,23396,460592,201642,90745,776375,10928,89420,238062,406412,744822
137,202302,5호선,마곡,20230303,2680,85430,104574,93104,285788,5227,127023,77710,78726,288686
142,202302,5호선,목동,20230303,8356,219365,130138,84056,441915,5692,90383,149573,227359,473007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22762,202001,9호선,양천향교,20200203,4745,102037,82546,60429,249757,4503,75872,68203,106462,255040
22764,202001,9호선,염창,20200203,10960,273631,133993,74725,493309,9138,67775,133762,262846,473521
22765,202001,9호선,증미,20200203,2298,74366,64631,57122,198417,2506,67638,60506,70621,201271
22932,202001,공항철도 1호선,김포공항,20200203,2206,77237,133304,125542,338289,3113,86170,71598,32254,193135
22934,202001,공항철도 1호선,마곡나루,20200203,1573,35823,72015,73249,182660,2908,97162,30149,35450,165669

In [104]:
gangsu_ride1=gangsu_ride1.drop(['o0~6','o6~12','o12~18','o18~24','d0~6','d6~12','d12~18','d18~24'],axis=1)
gangsu_ride1

          사용월       호선명  지하철역      작업일자    oAll    dAll
123    202302       5호선   개화산  20230303  153829  147236
132    202302       5호선  김포공항  20230303  215345  211306
133    202302       5호선   까치산  20230303  776375  744822
137    202302       5호선    마곡  20230303  285788  288686
142    202302       5호선    목동  20230303  441915  473007
...       ...       ...   ...       ...     ...     ...
22762  202001       9호선  양천향교  20200203  249757  255040
22764  202001       9호선    염창  20200203  493309  473521
22765  202001       9호선    증미  20200203  198417  201271
22932  202001  공항철도 1호선  김포공항  20200203  338289  193135
22934  202001  공항철도 1호선  마곡나루  20200203  182660  165669

[782 rows x 6 columns]

In [105]:
gangsu_ride12=gangsu_ride1.groupby(['지하철역'])['oAll','dAll'].sum()

In [111]:
366+365+365+31+28

1155

In [113]:
gangsu_ride12.mean()

oAll    1.247412e+07
dAll    1.215942e+07
dtype: float64

In [114]:
gangsu_ride12=gangsu_ride12/1155
gangsu_ride12.loc['신정',:]= gangsu_ride12.mean()

In [115]:
gangsu_ride12

              oAll          dAll
지하철역
가양    17338.512554  16845.517749
개화     2137.746320   1546.709091
개화산    4626.416450   4435.190476
공항시장   2514.658009   2727.708225
김포공항  23767.249351  22343.275325
까치산   24799.070130  23736.565368
등촌     9265.517749   9069.136797
마곡     7928.866667   7839.079654
마곡나루    766.785281    739.956710
목동    14140.400000  15199.959307
발산    16433.133333  17016.780087
방화     5733.699567   5480.341126
송정     5744.992208   5405.441558
신방화    5731.168831   5566.580087
양천향교   7800.039827   7941.695238
염창    14428.822511  13982.573160
우장산   12006.182684  11870.117749
증미     5908.950649   5825.581818
화곡    24129.831169  22452.958442
신정    10800.107542  10527.640419

In [116]:
gangsu_ride12.to_csv("지하철역_사람수나눔_승차하차정보")